<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HELPDESK</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="SOFTWELL &raquo; Flux" href="http://www.softwell.mg/feed/" />
    <link rel="alternate" type="application/rss+xml" title="SOFTWELL &raquo; Flux des commentaires" href="http://www.softwell.mg/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/www.softwell.mg\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.4" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b } return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='formidable-css' href='~/Content/wp-content/plugins/formidable/css/formidableforms.css?ver=38757' type='text/css' media='all' />
    <link rel='stylesheet' id='sydney-bootstrap-css' href='~/Content/wp-content/themes/sydney/css/bootstrap/bootstrap.min.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='~/Content/wp-includes/css/dist/block-library/style.min.css?ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/Content/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='spba-animate-css' href='~/Content/wp-content/plugins/so-page-builder-animate/css/animate.min.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='tc-team-members-css' href='~/Content/wp-content/plugins/tc-team-members/lib/functions/../../assets/css/tc-plugin.css?ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='tc-font-awesome-css' href='~/Content/wp-content/plugins/tc-team-members/lib/functions/../../vendors/font-awesome/css/font-awesome.css?ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='iw-defaults-css' href='~/Content/wp-content/plugins/widgets-for-siteorigin/inc/../css/defaults.css?ver=1.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='awsm-team-css' href='~/Content/wp-content/plugins/awsm-team/css/team.min.css?ver=1.1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='eael-front-end-css' href='~/Content/wp-content/plugins/essential-addons-for-elementor-lite/assets/front-end/css/eael.min.css?ver=1589383309' type='text/css' media='all' />
    <link rel='stylesheet' id='sydney-fonts-css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C400italic%2C600%7CRaleway%3A400%2C500%2C600' type='text/css' media='all' />
    <link rel='stylesheet' id='sydney-style-css' href='~/Content/wp-content/themes/sydney/style.css?ver=20180710' type='text/css' media='all' />
    
    <link rel='stylesheet' id='sydney-font-awesome-css' href='~/Content/wp-content/themes/sydney/fonts/font-awesome.min.css?ver=5.0.4' type='text/css' media='all' />
    
    <link rel='stylesheet' id='elementskit-framework-css-frontend-css' href='~/Content/wp-content/plugins/elementskit-lite/libs/framework/assets/css/frontend-style.css?ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-css' href='~/Content/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.6.2' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href='~/Content/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href='~/Content/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='elementskit-css-widgetarea-control-editor-css' href='~/Content/wp-content/plugins/elementskit-lite/modules/controls/assets/css/widgetarea-editor.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-1275-css' href='~/Content/wp-content/uploads/elementor/css/post-1275.css?ver=1588145964' type='text/css' media='all' />
    <link rel='stylesheet' id='elementskit-vendors-css' href='~/Content/wp-content/plugins/elementskit-lite/widgets/init/assets/css/vendors.css?ver=1.5.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementskit-style-css' href='~/Content/wp-content/plugins/elementskit-lite/widgets/init/assets/css/style.css?ver=1.5.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementskit-responsive-css' href='~/Content/wp-content/plugins/elementskit-lite/widgets/init/assets/css/responsive.css?ver=1.5.0' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat+Alternates%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-shared-0-css' href='~/Content/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.12.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-solid-css' href='~/Content/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.12.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-regular-css' href='~/Content/wp-content/plugins/elementor/assets/lib/font-awesome/css/regular.min.css?ver=5.12.0' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/wp-image-zoooom/assets/js/jquery.image_zoom.min.js?ver=1.31'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var IZ = { "with_woocommerce": "0", "exchange_thumbnails": "1", "woo_categories": "0", "enable_mobile": "", "options": [], "woo_slider": "0" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/wp-image-zoooom/assets/js/image_zoom-init.js?ver=1.31'></script>
    <link rel='https://api.w.org/' href='http://www.softwell.mg/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.softwell.mg/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.0.4" />
    <link rel="canonical" href="http://www.softwell.mg/accueilelementor/" />
    <link rel='shortlink' href='http://www.softwell.mg/?p=1275' />
    <link rel="alternate" type="application/json+oembed" href="http://www.softwell.mg/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.softwell.mg%2Faccueilelementor%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://www.softwell.mg/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.softwell.mg%2Faccueilelementor%2F&#038;format=xml" />
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #e9eae3;
        }

        #masthead {
            background-color: #252525;
        }

        li.i.fa fa-user {
            color: #d14c4c !important;
        }
    </style>
    <link rel="icon" href="~/Content/wp-content/uploads/2019/03/cropped-cropped-logo-soft20-1-32x32-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/Content/wp-content/uploads/2019/03/cropped-cropped-logo-soft20-1-32x32-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/wp-content/uploads/2019/03/cropped-cropped-logo-soft20-1-32x32-180x180.png" />
    <meta name="msapplication-TileImage" content="~/Content/wp-content/uploads/2019/03/cropped-cropped-logo-soft20-1-32x32-270x270.png" />

    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>

<body class="page-template page-template-page-templates page-template-page_front-page page-template-page-templatespage_front-page-php page page-id-1275 custom-background elementor-default elementor-kit-1274 elementor-page elementor-page-1275">

    <div class="preloader">
        <div class="spinner">
            <div class="pre-bounce1"></div>
            <div class="pre-bounce2"></div>
        </div>
    </div>

    <div id="page" class="hfeed site">
        <a class="skip-link screen-reader-text" href="#content">Aller au contenu</a>
        <div class="header-clone"></div>

        <header id="masthead" class="site-header" role="banner">
            <div class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="http://www.softwell.mg/" title="SOFTWELL" onclick="window.open(this.href); return false;">
                                <img class="site-logo" src="~/Content/wp-content/uploads/2019/03/logo-soft20.png" alt="SOFTWELL" /></a>
                        </div>
                        <div class="col-sm-10">
                            <div class="btn-menu"></div>
                            <nav id="mainnav" class="mainnav" role="navigation">
                                <div class="menu-menu_principal-container">
                                    <ul id="menu-menu_principal" class="menu">
                                        <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-35">@Html.ActionLink("Accueil", "Index", "Commeral", new { id = @Session["UserId"] }, null)</li>
                           
                                        <li>
                                            @if (Session["IsAdmin"] != null)
                                            {
                                                <li id="menu-item-6912" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69"><a href="#">Paramètres</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-11522" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">@Html.ActionLink("PRODUITS/AGENTS", "AffectationProd", "Agent")</li>
                                                        <li id="menu-item-115222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">@Html.ActionLink("Signataires sociétés", "SignatSoc", "Agent")</li>
                                                    </ul>
                                                </li>
                                                
                                            }
                                        </li>

                                        <li>
                                            @if(Session["NameSess"] != null)
                                            {
                                                <i class="fa fa-user" aria-hidden="true" color: #d14c4c>&nbsp;Bienvenue&nbsp; @Session["NameSess"].ToString()</i>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- #site-navigation -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr style="height:3px;border-width:0;color:gray;background-color:gray">
            </div>
        </header>

        <div id="content" class="page-wrap">
        <div class="row">
                    <div id="primary" class="fp-content-area">
                        <main id="main" class="site-main" role="main">
                            <div class="entry-content">
							    <div data-elementor-type="wp-page" data-elementor-id="1275" class="elementor elementor-1275" data-elementor-settings="[]">
			                        <div class="elementor-inner">
	                                    <div class="elementor-section-wrap">
                                            <div class="elementor-container elementor-column-gap-default">
			                                    <div class="elementor-row">
				                                    <div class="elementor-element elementor-element-6d573ce elementor-column elementor-col-33 elementor-top-column" data-id="6d573ce" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		                                            </div>
				                                    <div class="elementor-element elementor-element-07719da elementor-column elementor-col-66 elementor-top-column" data-id="07719da" data-element_type="column">
			                                            <div class="elementor-column-wrap  elementor-element-populated">
					                                        <div class="elementor-widget-wrap">
				                                                <div class="elementor-element elementor-element-d5b77c8 elementor-widget elementor-widget-elementskit-page-list" data-id="d5b77c8" data-element_type="widget" data-widget_type="elementskit-page-list.default">
				                                                    <div class="elementor-widget-container">
			                                                            <div class="ekit-wid-con" >		
						                                                </div>
		                                                            </div>	
				                                                </div>
				                                            </div>
					                                    </div>
			                                        </div>
		                                        </div>
		                                    </div>
	                                    </div>

                                        <!-- #section for body dynamic -->
                                        @*<div id="body">*@
                                        <div class="container-fluid">
                                            @RenderSection("featured", required: false)
                                            <section class="content-wrapper main-content clear-fix">
                                                @RenderBody()
                                            </section>
                                            @*<link href="~/Design/css/Style.css" rel="stylesheet" />
                                            <hr class="transparent">*@
                                        </div>
                                        <hr size=20 width=100% align=center >
						            </div>
			                    </div>
		                    </div>
                        </main>
                     </div>
                  </div>
            </div>
    </div>
        <!-- #content -->

    
    
    <a class="go-top"><i class="fa fa-angle-up"></i></a>

    <footer id="colophon" class="site-footer" role="contentinfo">
        <div id="sidebar-footer" class="footer-widgets widget-area" role="complementary">
            <div class="container">
                <div class="sidebar-column col-md-3">
                    <aside id="nav_menu-3" class="widget widget_nav_menu">
                        <h3 class="widget-title">LOGICIEL DE GESTION SAGE</h3>
                        <div class="menu-sage-container">
                            <ul id="menu-sage" class="menu">
                                <li id="menu-item-1138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1138"><a href="http://www.softwell.mg/logiciels-de-comptabilite-et-finances/" onclick="window.open(this.href); return false;">Comptabilité</a></li>
                                <li id="menu-item-1143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1143"><a href="http://www.softwell.mg/logiciels-de-gestion-commerciale/" onclick="window.open(this.href); return false;">Commerciale</a></li>
                                <li id="menu-item-1145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1145"><a href="http://www.softwell.mg/logiciels-de-paie-et-de-gestion-des-ressources-humaines/" onclick="window.open(this.href); return false;">Paie et RH</a></li>
                                <li id="menu-item-1147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1147"><a href="http://www.softwell.mg/logiciels-metiers/" onclick="window.open(this.href); return false;">Métiers</a></li>
                                <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148"><a href="http://www.softwell.mg/logiciels-de-gestion-electronique-de-documents/" onclick="window.open(this.href); return false;">Gestion Electronique de  Documents</a></li>
                                <li id="menu-item-1151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1151"><a href="http://www.softwell.mg/logiciels-de-gestion-pour-les-cabinets-dexpert-comptable/" onclick="window.open(this.href); return false;">Gestion pour les cabinets d&rsquo;expert comptable</a></li>
                                <li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145"><a href="http://logiciels-de-relation-client" onclick="window.open(this.href); return false;">Relation Client</a></li>
                                <li id="menu-item-1149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1149"><a href="http://www.softwell.mg/logiciel-sage-e-r-p/" onclick="window.open(this.href); return false;">E.R.P</a></li>
                                <li id="menu-item-1150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1150"><a href="http://www.softwell.mg/sage-100-p-m-i-2/" onclick="window.open(this.href); return false;">P.M.I</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="sidebar-column col-md-3">
                    <aside id="nav_menu-4" class="widget widget_nav_menu">
                        <h3 class="widget-title">LOGICIEL DE GESTION TOMATE</h3>
                        <div class="menu-tomate-container">
                            <ul id="menu-tomate" class="menu">
                                <li id="menu-item-1153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1153"><a href="http://www.softwell.mg/gestion-financiere/" onclick="window.open(this.href); return false;">Gestion Financière</a></li>
                                <li id="menu-item-1154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1154"><a href="http://www.softwell.mg/gestion-du-personnel/" onclick="window.open(this.href); return false;">Gestion du Personnel</a></li>
                                <li id="menu-item-1155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1155"><a href="http://www.softwell.mg/gestion-de-stock/" onclick="window.open(this.href); return false;">Gestion de Stock</a></li>
                                <li id="menu-item-1156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1156"><a href="http://www.softwell.mg/passation-de-marche/" onclick="window.open(this.href); return false;">Passation de Marché</a></li>
                                <li id="menu-item-1157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1157"><a href="http://www.softwell.mg/suivi-et-evaluation/" onclick="window.open(this.href); return false;">Suivi et Evaluation</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="sidebar-column col-md-3">
                    <aside id="nav_menu-5" class="widget widget_nav_menu">
                        <h3 class="widget-title">ANTIVIRUS PANDA</h3>
                        <div class="menu-panda-container">
                            <ul id="menu-panda" class="menu">
                                <li id="menu-item-1159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1159"><a href="http://www.softwell.mg/protections-et-gestions-des-postes-clients/" onclick="window.open(this.href); return false;">Protections</a></li>
                                <li id="menu-item-1160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1160"><a href="http://www.softwell.mg/securite-contre-les-menaces-avancees/" onclick="window.open(this.href); return false;">Sécurité Avancée</a></li>
                                <li id="menu-item-1161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1161"><a href="http://www.softwell.mg/securite-e-mails/" onclick="window.open(this.href); return false;">Sécurité E-mails</a></li>
                                <li id="menu-item-1162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1162"><a href="http://www.softwell.mg/securite-de-peripherie/" onclick="window.open(this.href); return false;">Sécurité Périphérique</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="sidebar-column col-md-3">
                    <aside id="nav_menu-6" class="widget widget_nav_menu">
                        <h3 class="widget-title">LOGICIEL SICORAX</h3>
                        <div class="menu-sicorax-container">
                            <ul id="menu-sicorax" class="menu">
                                <li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-160"><a href="#">Paie et RH</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

            </div>
        </div>

        <div class="site-info container">
            <center>
			<a href="http://www.softwell.mg/" onclick="window.open(this.href); return false;">© 2020 Softwell</a>
			<span>.Tous droits réservés.</span>
		</center>
            <!-- <span class="sep"> | </span> -->
        </div>
        <!-- .site-info -->
    </footer>
        
    <script>
        jQuery(document).ready(function ($) {
            'use strict';
            if ('function' === typeof WOW) {
                new WOW().init();
            }
        });
    </script>
    @*<style type="text/css" media="all"
        id="siteorigin-panels-layouts-footer">/* Layout 1244 */ #pgc-1244-0-0 { width:100%;width:calc(100% - ( 0 * 30px ) ) } #pl-1244 #panel-1244-0-0-0 {  } #pl-1244 .so-panel , #pl-1244 .so-panel:last-child { margin-bottom:0px } @media (max-width:780px){ #pg-1244-0.panel-no-style, #pg-1244-0.panel-has-style > .panel-row-style { -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column } #pg-1244-0 .panel-grid-cell { margin-right:0 } #pg-1244-0 .panel-grid-cell { width:100% } #pl-1244 .panel-grid-cell { padding:0 } #pl-1244 .panel-grid .panel-grid-cell-empty { display:none } #pl-1244 .panel-grid .panel-grid-cell-mobile-last { margin-bottom:0px }  } /* Layout 1230 */ #pgc-1230-0-0 { width:100%;width:calc(100% - ( 0 * 30px ) ) } #pl-1230 #panel-1230-0-0-0 {  } #pl-1230 .so-panel , #pl-1230 .so-panel:last-child { margin-bottom:0px } @media (max-width:780px){ #pg-1230-0.panel-no-style, #pg-1230-0.panel-has-style > .panel-row-style { -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column } #pg-1230-0 .panel-grid-cell { margin-right:0 } #pg-1230-0 .panel-grid-cell { width:100% } #pl-1230 .panel-grid-cell { padding:0 } #pl-1230 .panel-grid .panel-grid-cell-empty { display:none } #pl-1230 .panel-grid .panel-grid-cell-mobile-last { margin-bottom:0px }  } /* Layout 1223 */ #pgc-1223-0-0 { width:100%;width:calc(100% - ( 0 * 30px ) ) } #pl-1223 #panel-1223-0-0-0 {  } #pl-1223 .so-panel , #pl-1223 .so-panel:last-child { margin-bottom:0px } @media (max-width:780px){ #pg-1223-0.panel-no-style, #pg-1223-0.panel-has-style > .panel-row-style { -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column } #pg-1223-0 .panel-grid-cell { margin-right:0 } #pg-1223-0 .panel-grid-cell { width:100% } #pl-1223 .panel-grid-cell { padding:0 } #pl-1223 .panel-grid .panel-grid-cell-empty { display:none } #pl-1223 .panel-grid .panel-grid-cell-mobile-last { margin-bottom:0px }  } </style>
    *@<link rel='stylesheet' id='sow-image-default-31c423e8ff7c-css' href='~/Content/wp-content/uploads/siteorigin-widgets/sow-image-default-31c423e8ff7c.css?ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='siteorigin-panels-front-css' href='~/Content/wp-content/plugins/siteorigin-panels/css/front-flex.min.css?ver=2.10.2' type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var ekit_site_url = { "siteurl": "http:\/\/www.softwell.mg" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementskit-lite/widgets/mail-chimp/assets/js/mail-chimp.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/sydney-toolbox/js/main.js?ver=20180228'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "http:\/\/www.softwell.mg\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/so-page-builder-animate/js/wow.min.js?ver=1'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/awsm-team/js/team.min.js?ver=1.1.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var localize = { "ajaxurl": "http:\/\/www.softwell.mg\/wp-admin\/admin-ajax.php", "nonce": "ee232172e2" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/essential-addons-for-elementor-lite/assets/front-end/js/eael.min.js?ver=1589383309'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/sydney/js/scripts.js?ver=5.0.4'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/sydney/js/main.min.js?ver=20180716'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/sydney/js/skip-link-focus-fix.js?ver=20130115'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementskit-lite/libs/framework/assets/js/frontend-script.js?ver=1.5.0'></script>
    <script type='text/javascript'>
        //console.log(window.elementskit);

        var elementskit = {
            resturl: 'http://www.softwell.mg/wp-json/elementskit/v1/',
        }

        //console.log(window.elementskit);

    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementskit-lite/widgets/init/assets/js/nav-menu.js?ver=5.0.4'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementskit-lite/widgets/init/assets/js/ui-slim.min.js?ver=5.0.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/wp-embed.min.js?ver=5.0.4'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=2.9.6'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.7.6'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=2.9.6'></script>
    <script type='text/javascript'>
        var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "downloadImage": "Download image" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "version": "2.9.6", "urls": { "assets": "http:\/\/www.softwell.mg\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "general": { "elementor_global_image_lightbox": "yes", "elementor_lightbox_enable_counter": "yes", "elementor_lightbox_enable_fullscreen": "yes", "elementor_lightbox_enable_zoom": "yes", "elementor_lightbox_enable_share": "yes", "elementor_lightbox_title_src": "title", "elementor_lightbox_description_src": "description" }, "editorPreferences": [] }, "post": { "id": 1275, "title": "AccueilElementor \u2013 SOFTWELL", "excerpt": "", "featuredImage": false } };
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=2.9.6'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementskit-lite/widgets/init/assets/js/elementor.js?ver=1.5.0'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/elementskit-lite/modules/controls/assets/js/widgetarea-editor.js?ver=5.0.4'></script>
</body>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</html>
