@model Helpdesk.Crmcli_UsersSession

@{
    ViewBag.Title = "DetailsSIGN";
    Layout = "~/Views/Shared/_LayoutPageMaster.cshtml";
}

<header>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="~/Design/css/Style.css" rel="stylesheet" />
</header>
<head>
    <style>
        .form-unique {
            width: 100%;
        }

        .vertical-menu {
                      width: 200px;
                      font-size: 11px;
                      cursor: pointer;
                    }

                    .vertical-menu a {
                      background-color: #242426;
                      color: white;
                      display: block;
                      padding:31px;
                      text-decoration: none;
                    }

                    .vertical-menu a:hover {
                      background-color: #D14C4C;
                    }

                    .vertical-menu a.active {
                      background-color: #D14C4C;
                      color: white;
                    }

                    thead th {
                      font-size: 13px;
                      padding: 15px !important;
                      text-align: center;
                      background-color: #D14C4C;
                      color:white;
                    }

                    tr {
                      font-size: 12px;
                      padding: 15px !important;
                      background-color: #242426;
                      color:white;
                    }

                    td {
                      font-size: 12px;
                      padding: 15px !important;
                      background-color: #242426;
                      color:white;
                    }

                    /*.table-hover tbody tr:hover td {
                        background: white;
                    }*/

                    .buttonDetails {
                      background-color: #4CAF50;
                      border: none;
                      color: white;
                      padding: 5px 15px;
                      text-align: center;
                      font-size: 12px;
                      margin: 4px 2px;
                      opacity: 0.8;
                      transition: 0.3s;
                      display: inline-block;
                      text-decoration: none;
                      cursor: pointer;
                    }
                    .buttonDetails:hover {opacity: 1}

                    .buttonAnnuler {
                          background-color: #ff0000;
                          border: none;
                          color: white;
                          padding: 5px 15px;
                          text-align: center;
                          font-size: 12px;
                          margin: 4px 2px;
                          opacity: 0.8;
                          transition: 0.3s;
                          display: inline-block;
                          text-decoration: none;
                          cursor: pointer;
                        }
                        .buttonAnnuler:hover {opacity: 1}

                    .buttonAdd {
                          background-color: #0026ff;
                          border: none;
                          color: white;
                          padding: 5px 15px;
                          text-align: center;
                          font-size: 12px;
                          margin: 4px 2px;
                          opacity: 0.8;
                          transition: 0.3s;
                          display: inline-block;
                          text-decoration: none;
                          cursor: pointer;
                        }
                        .buttonAdd:hover {opacity: 1}
    </style>
</head>

@*<h3>Créer une nouvelle demande</h3>*@

@using (Html.BeginForm("CreateSIGN", "Agent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <h3>Les signataires de la société @ViewBag.Titre</h3>
        <div class="col-sm-12">
		    <table id="clients">
				<thead>
					<tr>
                        <th width=35%>Nom et Prénom</th>
                        <th width=25%>Fonction</th>
                        <th width=15%>Pseudo</th>
                        <th width=15%>Mot de passe</th>
                        <th width=15%>Action</th>
					</tr>
				</thead>
				<tbody>
		        @if (ViewBag.ldv != null)
          {
              int idT = int.Parse(ViewBag.IdComp.ToString());

              int CountTest = int.Parse(ViewBag.Incr.ToString());

              if (CountTest == 0)
              {
                  <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>        
                                    @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                                </td>
		                    </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>        
                                    @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                                </td>
		                    </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>        
                                    @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                                </td>
		                    </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>        
                                    @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                                </td>
		                    </tr>
              }
              else if (CountTest == 1)
              {
                  foreach (var lst in ViewBag.ldv)
                  {
                      <tr>
                        <td>@lst[1]</td>
                        <td>@lst[2]</td>
                        <td>@lst[3]</td>
                        <td>@lst[4]</td>
                        <td>
                            @{
                      int idP = 0;
                      if (lst[0].ToString() != "")
                      {
                          idP = int.Parse(lst[0].ToString());
                      } 
                            }
                                          
                            @Html.ActionLink("Modifier", "EditSIGN", new { idClient = idT, idPers = idP }, new { @class = "buttonDetails" }) <br />
                            @Html.ActionLink("Supprimer", "Delete", new { idClient = idT, idPers = idP }, new { @class = "buttonAnnuler" })
                        </td>
                      </tr>
                  }
                  for (int i = 0; i < 3; i++)
                  {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>        
                            @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                        </td>
		            </tr>
                  }
              }
              else if (CountTest == 2)
              {
                  foreach (var lst in ViewBag.ldv)
                  {
                      <tr>
                                <td>@lst[1]</td>
                                <td>@lst[2]</td>
                                <td>@lst[3]</td>
                                <td>@lst[4]</td>
                                <td>
                                    @{
                      int idP = 0;
                      if (lst[0].ToString() != "")
                      {
                          idP = int.Parse(lst[0].ToString());
                      } 
                                    }
                                          
                                    @Html.ActionLink("Modifier", "EditSIGN", new { idClient = idT, idPers = idP }, new { @class = "buttonDetails" })<br />
                                    @Html.ActionLink("Supprimer", "Delete", new { idClient = idT, idPers = idP }, new { @class = "buttonAnnuler" })
                                </td>
                       </tr>
                  }
                  for (int i = 0; i < 2; i++)
                  {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>        
                                        @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                                    </td>
		                        </tr>
                  }
              }
              else if (CountTest == 3)
              {
                  foreach (var lst in ViewBag.ldv)
                  {
                      <tr>
                                <td>@lst[1]</td>
                                <td>@lst[2]</td>
                                <td>@lst[3]</td>
                                <td>@lst[4]</td>
                                <td>
                                    @{
                      int idP = 0;
                      if (lst[0].ToString() != "")
                      {
                          idP = int.Parse(lst[0].ToString());
                      } 
                                    }
                                          
                                    @Html.ActionLink("Modifier", "EditSIGN", new { idClient = idT, idPers = idP }, new { @class = "buttonDetails" })<br />
                                    @Html.ActionLink("Supprimer", "Delete", new { idClient = idT, idPers = idP }, new { @class = "buttonAnnuler" })
                                </td>
                            </tr>
                  }
                  for (int i = 0; i < 1; i++)
                  {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>        
                                        @Html.ActionLink("Ajouter", "CreateSIGN", new { idClient = idT, idPers = 0 }, new { @class = "buttonAdd" })
                                    </td>
		                        </tr>
                  }
              }
              else if (CountTest == 4)
              {
                  foreach (var lst in ViewBag.ldv)
                  {
                      <tr>
                                <td>@lst[1]</td>
                                <td>@lst[2]</td>
                                <td>@lst[3]</td>
                                <td>@lst[4]</td>
                                <td>
                                    @{
                      int idP = 0;
                      if (lst[0].ToString() != "")
                      {
                          idP = int.Parse(lst[0].ToString());
                      } 
                                    }
                                          
                                    @Html.ActionLink("Modifier", "EditSIGN", new { idClient = idT, idPers = idP }, new { @class = "buttonDetails" })<br />
                                    @Html.ActionLink("Supprimer", "Delete", new { idClient = idT, idPers = idP }, new { @class = "buttonAnnuler" })
                                </td>
                            </tr>
                  }
              }
          }
				</tbody>
			</table>
        </div> 
        <div class="col-lg-12">
            &nbsp
        </div>
    </fieldset>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#clients").DataTable()
        })
    </script>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")}*@
